<html>
<head>
    <title>
        TU Chat
    </title>

    <link rel="shortcut icon" type="image/png" href="static/images/icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            background-image: url('static/images/error.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    </style>
    <title>SSL Chat APP</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body style="background-color: #22aa45">

{% include 'includes/_navbar.html' %}
<h1 style="color: #dddddd;text-align: center">
    COMING SOON

</h1>
<br>
<h4 style="color: #dddddd;text-align: center"> After 500 USERS</h4>
</body>
</html>