{% extends 'layout.html' %}

{% block body %}
    <div class="bg-image"></div>
    <div class="bg-text" style="color: black">
        <h2>Sign Up Form<br> <span style="font-size: 10">[no google Form this time]</span></h2>
        {% from "includes/_formhelpers.html" import render_field %}

        <form action="{{ url_for('register') }}" method="post" autocomplete="off">

            <p>Username</p>
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <p>Email</p>
            <label for="email">
                <i class="fas fa-envelope"></i>
            </label>
            <input type="email" name="email" placeholder="Email" id="email" required>

            <p>Password</p>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}