<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A New way of Casting your vote">
    <meta name="keywords" content="online, voting,secure voting ">
    <meta name="author" content="Musanga Sally">

    <title>Politico | Welcome</title>
    <link rel="stylesheet" type="text/css" href="static/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body>
<header>
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Politico</span> Voting System</h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="index.html">HOME</a></li>
                <li><a href="parties.html">PARTIES</a></li>
                <li><a href="politicians.html">POLITICIANS</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="row">
    <div class="column">
        <div class="box">
            <img src="static/assets/img/Law3.jpg">
            <h3>Candidate 1</h3>
            <p><strong>Party:</strong>ANC <strong> <br> Candidate Name :</strong> Musanga Sally</p>
            <p><strong>Political Office:</strong>President <strong> <br> Party HQ:</strong> 5th Ave. Ngong</p>
            <button type="submit" class="button_1">Vote</button>
        </div>
        <div class="box">
            <img src="static/assets/img/M01.jpg.jpg">
            <h3>Candidate 2</h3>
            <p><strong>Party:</strong>ANC <strong> <br> Candidate Name :</strong> Musanga Sally</p>
            <p><strong>Political Office:</strong>Vice President <strong> <br> Party HQ:</strong> 5th Ave. Ngong</p>
            <button type="submit" class="button_1">Vote</button>
        </div>
        <div class="box">
            <img src="static/assets/img/sally.jpg">
            <h3>Candidate 3</h3>
            <p><strong>Party:</strong> PNU <strong> <br> Candidate Name :</strong> Musanga Sally</p>
            <p><strong>Political Office:</strong>President <strong> <br> Party HQ:</strong> Banana Ave.</p>
            <button type="submit" class="button_1">Vote</button>
        </div>
    </div>
</div>

<div class ="row">
    <div class="column">
        <div class="box">
            <img src="static/assets/img/M01.jpg">
            <h3>Candidate 1</h3>
            <p><strong>Party:</strong>PNU <strong> <br> Candidate Name :</strong> Musanga Sally</p>
            <p><strong>Political Office:</strong>Vice President <strong> <br> Party HQ:</strong> Banana Ave.</p>
            <button type="submit" class="button_1">Vote</button>
        </div>
        <div class="box">
            <img src="static/assets/img/sally.jpg">
            <h3>Candidate 2</h3>
            <p><strong>Party:</strong>Wiper <strong> <br> Candidate Name :</strong> Musanga Sally</p>
            <p><strong>Political Office:</strong>President <strong> <br> Party HQ:</strong> 5th Ave. Ngong</p>
            <button type="submit" class="button_1">Vote</button>
        </div>
        <div class="box">
            <img src="static/assets/img/sally.jpg">
            <h3>Candidate 3</h3>
            <p><strong>Party:</strong>Wiper <strong> <br> Candidate Name :</strong> Musanga Sally</p>
            <p><strong>Political Office:</strong>Vice President <strong> <br> Party HQ:</strong> 5th Ave. Ngong</p>
            <button type="submit" class="button_1">Vote</button>
        </div>
    </div>
</div>
<footer>
    <p>Politico Voting System , Copyright &copy; 2019</p>
</footer>

</body>

</html>